<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="@{/js/jquery-3.7.1.min.js}"></script>
<style>
	#comment {
		width : 350px;
	}
	
	tbody tr:nth-child(odd) {
		background-color : #fff2f2;
	}
	
	th {
		width : 80px;
		background-color : #feebfd;
	}
	th.contentsTh {
		width : 3550px;
	}
	
	td {
		text-align : center;
	}
	
</style>
<script>
      $(document).ready(function() {
         // 목록 가져오기
         list();
         
         // 댓글 작성
         $('#inputButton').on('click', inputButtonClick);
         
         //이벤트 위임
         /* 
         	$(부모요소).on('이벤트명', 자식요소 선택자, 함수)
         */
         //상위 요소에 이벤트를 두고 등록해두고, 이벤트를 가로채서 하위 요소에 처리
         $('#commentTBody').on('click', '.deleteButton', deleteFunc);
         $('#commentTBody').on('click', '.updateButton', updateFunc);
      });
      
      // 댓글 저장
      function inputButtonClick() {
         let name    = $('#name').val().triM();
         let comment = $('#Comment').val().trim();
         
         if (name == '' || comment == '') {
            alert('이름과 내용을 입력하세요.');
            return;
         }
         
         $.ajax({
            url: 'sendComment',
            type: 'post',
            data: {name: name, comment:comment},
            success: function() {
               alert('등록되었습니다.');
               $('#name').val('');
               $('#comment').val('');
               
               //글 목록 출력 
               list();
            },
            error: function(e) {
               alert('등록 실패');
            }
         });
      }
      
      function list() {
          $.ajax({
             url: 'list',
             type: 'get',
             dataType: 'json',
             success: function(list) {
                let str = ``;
                
                if (!list || list.length == 0) {
                   str += `
                      <tr>
                         <td>작성한 글이 없습니다.</td>
                      </tr>
                   `;
                } else {
                   $(list).each(function(i, ob) {
                      str += `
                         <tr>
                            <td>${ob.num}</td>
                            <td>${ob.name}</td>
                            <td>${ob.comment}</td>
                            <td>
                              <button class="deleteButton"
                                      data-num="${ob.num}">삭제</button>
                             </td>
                            <td>
                              <button class="updateButton"
                                      data-num="${ob.num}"
                                      data-comment="${ob.comment}">수정</button>
                               </td>
                         </tr>`;
                   });
                }
                
                $('#commentTbody').html(str);
             },
             error: function() {
                alert('목록 조회 실패');
             }
          });
       }
      
      function deleteFunc(){
    	  let result = confirm("삭제하시겠습니까?");
    	  
          if(result){
              let num = $(this).data('num');
              
              $.ajax({
                 url : `delete/${num}`,
                 type : 'delete',      //HTTP 메서드 방식(삭제)
                 success : function(){
                    list();
                 },
                 error : function(){
                    alert('삭제 실패');
                 }
              })   
          }
      }
     
   </script>
</head>
<body>
	<h1>[ 댓글 달기 ]</h1>
	
	<div>
		<input type="text" id="name" placeholder="작성자명을 입력하세요">
		<input type="text" id="comment" placeholder="댓글 내용을 입력하세요">
		<button id="inputBtn">저장</button>
	</div>
	<br>
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>작성자</th>
				<th class="contentsTh">내용</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody id="commentTbody">
		
		</tbody>
	</table>
</body>
</html>